.formContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
}

.input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  background-color: #5C7373;
  border: none;
  border-radius: 5px;
  color: white;
}

.input::placeholder {
  color: #B0C4C4; 
}

.button {
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  background-color: #027368; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #025B50; 
}

.centerText a {
  color: #1aa570; 
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.centerText a:hover {
  color: #389613; 
  text-decoration: underline; 
}